<% title "#{@category.name}" %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Location</th>
  </tr>
  <% for ad in @ads %>
    <tr>
      <td><%= ad.title %></td>
      <td><%= ad.description %></td>
      <td><%= ad.price %></td>
      <td><%= ad.location %></td>
      <td><%= link_to "Show", category_ad_url(@category, ad) %></td>
      <td><%= link_to "Edit", edit_category_ad_path(@category, ad) %></td>
      <td><%= link_to "Destroy", category_ad_path(@category, ad), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ad", new_category_ad_path(@category) %></p>
