<% title "#{@category.name} Ad" %>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>
<p>
  <strong>Location:</strong>
  <%= @ad.location %>
</p>

<p>
  <%= link_to "Edit", edit_category_ad_path(@category, @ad) %> |
  <%= link_to "Destroy", category_ad_path(@category, @ad), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", category_ads_path(@category) %>
</p>
