- title "Categories"

- for category in @categories
	.category-single
		.category-controls
			= link_to "Edit", edit_category_path(category)
			|
			= link_to "Destroy", category, :confirm => 'Are you sure?', 
				:method => :delete
		%p
			%b= link_to "#{category.name}", category
			/(#{category.ads.count})

%hr
%p= link_to "New Category", new_category_path
